body {
    background-color: rgb(219, 219, 219);
    margin: 0px;
    padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}

ul li a:hover {
  background-color: grey;
}