body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
    padding-top: 70px; /* ruimte boven content, gelijk aan menuhoogte */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;             /* bovenaan het scherm */
  left: 0;
  width: 100%;
  height: 70px;       /* stel hier je menuhoogte in */
  align-items: center;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  position: relative; 

}

ul li a:hover {
  background-color: rgb(66, 66, 66);
  text-decoration: none;
  border-radius: 4px;
}

ul li a.active {
  background-color: grey;
  border-radius: 4px;
}

ul li a::after {                 
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: rgb(97, 218, 255);
  transition: width 0.4s;          
  border-radius: 4px;
}

ul li a:hover::after {                     /* Wanneer de muis over de link gaat */
  width: 100%;                             /* Lijn groeit van 0 naar volledige breedte: het effect */
}

h1 {
  text-align: center;
  background-color: bisque;
  padding: 30px;
  margin-top: 0%;
}

.CR7 {
float: left;
margin-left: 15px;
}

.Tandarts {
margin-top: -300px;
float: right;
}

iframe {
  display: block;
  margin: 0 auto
}

.begin {
  color: black;
  background-color: grey;
  border-radius: 8px;
  width: 60%;
  padding: 30px;
  margin-left: 230px;
  margin-top: 35px;
}

.tweede{ 
color: black;
background-color: grey;
border-radius: 8px;
width: 45%;
padding: 30px;
margin: 150px auto 0 auto; /* ↑150px ruimte boven, auto links/rechts */
margin-left: 75px;
}
.Cristiano{
  color: red;
}

.Ronaldo{
  color: greenyellow;
}

.binair{
color: black;
  background-color: grey;
  border-radius: 8px;
  width: 60%;
  padding: 30px;
  margin-left: 230px;
  margin-top: 35px;
}

h2{
  text-align: center;
  padding: 15px;
}

.binair2{
  color: black;
  background-color: grey;
  border-radius: 8px;
  width: 60%;
  padding: 30px;
  margin-left: 230px;
  margin-top: 35px;
}
.binair3{
  color: black;
  background-color: grey;
  border-radius: 8px;
  width: 60%;
  padding: 30px;
  margin-left: 230px;
  margin-top: 35px;
}

.table-container {
border: 2px;
border-radius: 3px;
border-collapse: collapse;
border-color: black;
margin: 0 auto;
overflow: hidden; 
}

th, td {
  border: 2px solid black;  /* zwarte rand om elke cel */
  padding: 10px 15px;
}

th{
background-color: rgb(191, 129, 47);
}

td{
background-color: burlywood;
}

.compressie{
color: black;
background-color: grey;
border-radius: 8px;
width: 60%;
padding: 30px;
margin: auto;
}

.compressie2{
color: black;
background-color: grey;
border-radius: 8px;
width: 60%;
padding: 30px;
margin: auto;
}